@font-face {
    font-family: Roboto-regular; /* Гарнитура шрифта */
    src: url(src/fonts/roboto-regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-thin-italic; /* Гарнитура шрифта */
    src: url(src/fonts/roboto-thin-italic.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-slab-regular; /* Гарнитура шрифта */
    src: url(src/fonts/roboto-slab-regular.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-medium; /* Гарнитура шрифта */
    src: url(src/fonts/roboto-medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: Roboto-thin; /* Гарнитура шрифта */
    src: url(src/fonts/roboto-thin.ttf); /* Путь к файлу со шрифтом */
}
body{
    margin: 0 auto;
    font-family: Roboto-regular, sans-serif;
}
.wrapper{
    margin-left: 274px;
    margin-right: 94px;
}
.box:first-child{
    padding-top: 55px;
    background: linear-gradient(rgba(67,82,102,0.95), rgba(67,82,102,0.95)), url(src/img/header-banner.png) 100% no-repeat;
    background-size: cover;
    height: 990px;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo, .login{
    display: flex;
    align-items: center;
}
.login{
    margin-right: 190px;
}
.logo-img{
    display: inline-block;
    justify-self: left;
    width: 94px;
    height: 95px;
    transform: scale(0.57);
    border: 0px;
    background-color: aqua;
    background: url(src/img/logo-half.png) no-repeat left 100%, url(src/img/logo-bcg.png) no-repeat 100%;
}
.logo-title{
    vertical-align: middle;
    margin-left: 6px;
    font-size: 48px;
    color: #efefef;
}
.login-create{
    color: #c9ced7;
    font-size: 23px;
    font-weight: 100;
    font-family: Roboto-thin-italic, sans-serif;
    margin-right: 30px;
}
.login-btn{
    display: inline-block;
    color: #cad1db;
    background-color: #3d4b60;
    border-radius: 10px;
    font-size: 22px;
    padding: 8px 17px;
}
.banner{
    margin-top: 170px;
    margin-left: 14px;
    font-family: Roboto-slab-regular, sans-serif;
    display: flex;
}
.wrapper-text-banner{
    display: inline-block;
    width: 760px;
}
.wrapper-text-banner h2{
    font-size: 58px;
    color: #ffffff;
}
.wrapper-text-banner p{
    font-size: 28px;
    color: #c5d2e5;
    line-height: 46px;
    padding-right: 60px;
}
.banner-btn{
    display: inline-block;
    padding: 18px 46px;
    border-radius: 10px;
    font-family: Roboto-regular, sans-serif;
    font-size: 43px;
    background-color: #67bf95;
    color: #ffffff;
    margin-top: 40px;
}
.wrapper-img-banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: url(src/img/banner-img.png) no-repeat 100%;
    background-size: contain;
    height: 345px;
    width: 345px;
    margin-left: 175px;
    margin-top: 63px;
}
.wrapper-circles{
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.img-banner-circle{
    width: 31px;
    height: 31px;
    background-color: #ffffff;
    border-radius: 50%;
    margin: 89px 12px;
}

.box:nth-child(2){
    height: 578px;
}
.box:nth-child(2) .wrapper{
    background: #ffffff;
    display: flex;
    justify-content: center;
    padding-left: 52px;
}
.box:nth-child(2) .wrapper .wrapper-img{
    height: 810px;
    width: 810px;
    background: url(src/img/page-img.png) no-repeat 100% top;
    background-size: contain;
    margin-top: 115px
}
.box:nth-child(2) .wrapper .wrapper-text{
    margin-top: 166px;    
}
.box:nth-child(2) .wrapper .wrapper-text h2{
    font-size: 42px;
    font-family: Roboto-slab-regular, sans-serif;
    font-weight: normal;
    word-spacing: 12px;
    color: #37414e;
    padding-left: 100px;
    margin: 0;
}
.box:nth-child(2) .wrapper .wrapper-text p{
    font-size: 20px;
    line-height: 47px;
    word-spacing: 10px;
    color: #4b596c;
    margin: 0;
    margin-top: 22px;
    margin-left: 100px;
    padding-right: 80px;

}
.box:nth-child(2) .wrapper .wrapper-btns{
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    margin-right: 213px;
}
.wrapper-btns div{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-register{
    background-color: #67bf95;
}
.btn-register div{
    background: url(src/img/register.png) no-repeat 100%;
    background-size: contain;
}
.btn-register-fb{
    background-color: #ffffff;
    border: 3px solid #67bf95;
}
.btn-register-fb div{
    background: url(src/img/register-fb.png) no-repeat 100%;
    background-size: contain;
}

.box:nth-child(3){
    background-color: #52ad81;
    height: 925px;
}
.box:nth-child(3) .wrapper-text h2{
    margin: 0;
    color: #ffffff;
    font-size: 60px;
    font-family: Roboto-medium, sans-serif;
    letter-spacing: 1.7px;
}
.box:nth-child(3) .wrapper-text p{
    margin: 0;
    margin-top: 22px;
    margin-left: 15px;
    color: #ffffff;
    font-size: 32px;
    font-family: Roboto-thin, sans-serif;
    word-spacing: 1px;
    letter-spacing: 0.7px;
}
.box:nth-child(3) .wrapper-text{
    padding-top: 118px;
    padding-left: 470px;
}
.box:nth-child(3) .wrapper-img{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box:nth-child(3) .wrapper-img div{
    height: 541px;
    width: 1323px;
    margin-top: 135px;
}
.box:nth-child(3) .wrapper-img .wrapper-browser-img img{
    height: 100%;
    width: 100%;
}
.box:nth-child(3) .wrapper-img .btn-left, .box:nth-child(3) .wrapper-img .btn-right{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52ad81;
    border-radius: 50%;
    border: 1px solid #ffffff;
    margin-bottom: 387px;
    margin-left: 3px;    
}
.box:nth-child(3) .wrapper-img .btn-left div, .box:nth-child(3) .wrapper-img .btn-right div {
    width: 35%;
    height: 35%;
    margin: 0px;
}
.box:nth-child(3) .wrapper-img .btn-right div{
    background: url(src/img/arrow-right.png) no-repeat 100%;
    background-size: contain;
    background-position-x: center;
    margin-left: 3px;
}
.box:nth-child(3) .wrapper-img .btn-left div{
    background: url(src/img/arrow-left.png) no-repeat 100%;
    background-size: contain;
    background-position-x: center;
    margin-right: 3px;
}

.box:nth-child(4) .wrapper-text{
    width: 100%;
    margin: 0px;
    margin-top: 172px;
    margin-left: 95px;
}
.box:nth-child(4) .wrapper-text h2{
    margin: 0px;
    font-size: 49px;
    font-family: Roboto-medium, sans-serif;
    font-weight: normal;
    color: #37414e;
}
.box:nth-child(4) .wrapper-text p{
    width: 60%;
    font-size: 25px;
    font-family: Roboto-regular, sans-serif;
    text-align: center;
    color: #858b93;
    line-height: 50px;
    margin-left: 120px;
}
.box:nth-child(4) .wrapper-rows{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Roboto-medium, sans-serif;
    font-size: 34px; 
    margin-top: 45px;
    margin-left: 20px;
    margin-right: 210px;
}
.box:nth-child(4) .wrapper-rows .column{
    width: 390px;
    height: 878px;
    border-radius: 5px;
    margin: 45px;
}
.box:nth-child(4) .wrapper-rows .column .wrapper-scope{
    padding-bottom: 18px;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(1) .wrapper-scope{
    background-color: #e9eef3;
    color: #6d737b;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(1) .wrapper-scope p:nth-child(2){
    color: #6d737b;
    font-weight: bold;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(2) .wrapper-scope{
    background-color: #deebde;
    color: #768275;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(2) .wrapper-scope p:nth-child(2){
    color: #58ad52;
    font-weight: bold;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(3) .wrapper-scope{
    background-color: #dee9ec;
    color: #6d737b;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(3) .wrapper-scope p:nth-child(2){
    color: #52a1ad;
    font-weight: bold;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(1){
    margin-left: 0px;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(3){
    margin-right: 0px;
}
.box:nth-child(4) .wrapper-rows .column p:first-child{
    height: 93px;
    font-size: 38px;
    line-height: 100px;
    text-align: center;
    color: #ffffff;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(1) p:first-child,
 .box:nth-child(4) .wrapper-rows .column:nth-child(1) .btn{
    background-color: #4b596c;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(2) p:first-child,
 .box:nth-child(4) .wrapper-rows .column:nth-child(2) .btn{
    background-color: #58ad52;
}
.box:nth-child(4) .wrapper-rows .column:nth-child(3) p:first-child, 
 .box:nth-child(4) .wrapper-rows .column:nth-child(3) .btn{
    background-color: #52a1ad;
}
.box:nth-child(4) .wrapper-rows .column p{
    margin: 0;
    font-family: Roboto-regular, sans-serif;
    border-radius: 5px 5px 0 0;
}
.box:nth-child(4) .wrapper-rows .column p:not(:first-child){
    padding: 52px;
}
.box:nth-child(4) .wrapper-rows .column .btn{
    font-size: 40px;
    letter-spacing: -1px;
    color: #ffffff;
    margin-top: 98px;
    padding: 22px 0;
}
